@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.main-content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
}

.grid {
  display: grid;
}

.background-img {
  /* background-image: url("../images/background_image.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* LOGIN PAGE */

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  height: 650px;
  width: 650px;
  margin: 0 auto;
  transform: translateY(25%);
  border-radius: 5%;
}
.universal-logo {
  text-align: center;
  padding-top: 40px;
}
.login-title {
  padding-left: 100px;
  font-size: 30px;
  font-weight: 700;
  color: #010101;
}
.email-input,
.password-input,
.submit-btn {
  padding-left: 100px;
  margin-bottom: 30px;
}
.email-input input,
.password-input input {
  width: 446px;
  height: 38px;
  border-style: none;
  border-radius: 2px;
}
.password-input img {
  position: absolute;
  right: 120px;
  bottom: 255px;
}
.password-input button {
  position: absolute;
  width: 20px;
  height: 21px;
  right: 120px;
  bottom: 255px;
  opacity: 0;
  cursor: pointer;
}
.email-input input::placeholder,
.password-input input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding-left: 7px;
  color: #93949d;
}
.submit-btn button {
  width: 450px;
  height: 40px;
  letter-spacing: 0.1px;
  border-style: none;
  text-align: center;
  background: linear-gradient(180deg, #3372ed 0%, #1138c2 100%);
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  cursor: pointer;
}
.submit-btn button a {
  text-decoration: none;
  color: #ffffff;
}

/* SIDEBAR */

.sidebar {
  background: linear-gradient(180deg, #3372ed 0%, #1138c2 100%);
  height: 100%;
  width: 200px;
  left: 0px;
  top: 0px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 20px 0px;
  grid-template-rows: 165px 40px 40px 40px 40px;
}
.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  padding-left: 60px;
}
.sidebar a:hover {
  border-left: 5px solid #ffffff;
}
.sidebar img {
  width: 100px;
  justify-self: center;
  margin-top: 40px;
}

/* DASHBOARD */

.content-wrapper {
  position: relative;
  display: block;
}
table {
  position: absolute;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  border-collapse: collapse;
  overflow-x: hidden;
  display: block;
  box-shadow: 0 0 10px 5px #c5c5c5;
  margin: 30px;
  margin-bottom: 50px;
}
.search-bar {
  display: flex;
}
tr {
  width: 10px;
}
.search-bar td {
  flex: none;
  width: 1538px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.search-bar img {
  vertical-align: text-top;
  margin-right: 20px;
}
.search-bar img,
.search-bar input {
  vertical-align: -webkit-baseline-middle;
}
.search-bar input {
  color: #bababa;
  border: 0;
  height: 50px;
  width: 300px;
}
.search-bar input:focus {
  outline: none;
}
.search-bar button {
  width: 200px;
  height: 40px;
  letter-spacing: 0.1px;
  border-style: none;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #3372ed 0%, #1138c2 100%);
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 600;
  cursor: pointer;
}
.search-bar button a {
  text-decoration: none;
  color: #ffffff;
}
tr th {
  padding: 30px 70px 30px 60px;
  text-align: left;
}
th,
td {
  border: 1px solid #c5c5c5;
  padding: 10px 60px;
  text-align: left;
}
.first-child {
  border-left: 0;
}
.second-child {
  width: 50%;
}
.third-child {
  width: 50%;
}

/* DEVELOPERS PROFILE */

.content-wrapper-developers-profile {
  /* width: 400px; */
  height: 710px;
  grid-template-columns: 300px 1fr;
  /* margin-top: 60px; */
  /* margin-bottom: 60px; */
  border-right: 1px solid #bababa;
}
.profile-info {
  width: 240px;
  margin: 0 auto;
  background-color: white;
  /* transform: translate(); */
}
.personal-info img:first-of-type {
  justify-self: end;
  width: 15px;
  margin: 0px 0px 20px 0px;
}
.personal-info img:last-of-type {
  justify-self: center;
  width: 140px;
}
.personal-info span {
  justify-self: left;
  margin: 10px 0;
}
.personal-info span:first-of-type {
  margin: 0;
  margin-bottom: 20px;
  white-space: pre-line;
  justify-self: center;
  font-size: 30px;
  font-weight: 700;
}
.personal-info select,
.personal-info input {
  border: 0.4px solid #ccc7f5;
  border-radius: 4px;
  padding: 4px;
}
.personal-info select {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.personal-info input {
  width: 50px;
  margin-bottom: 65px;
}
.personal-info button {
  width: 240px;
  height: 40px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-style: none;
  text-align: center;
  background: linear-gradient(180deg, #3372ed 0%, #1138c2 100%);
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
}
.vertical-line {
  border-left: 1px solid #bababa;
  height: 820px;
  display: inline;
  margin-left: 530px;
}
.developers-profile-table {
  position: unset;
  width: 1140px;
  margin: 60px;
  margin-top: 0;
  overflow-y: scroll;
  border: 1px solid #ffffff;
  box-shadow: unset;
}
.developers-profile-table::-webkit-scrollbar {
  display: none;
}
.developers-profile-table tr th {
  background: linear-gradient(180deg, #3372ed 0%, #1138c2 100%);
  color: #ffffff;
  border: 1px solid #ffffff;
}
.developers-profile-table tr td {
  width: 300px;
  height: 60px;
  border: 1px solid #ffffff;
}
.developers-profile-table tr:nth-child(even) {
  background: rgba(96, 96, 96, 0.05);
}
.developers-profile-table tr:nth-child(odd) {
  background: rgba(96, 96, 96, 0.01);
}
.developers-profile-btn-even img {
  background: rgba(96, 96, 96, 0.05);
}
.ellipsis {
  text-align: center;
}
.ellipsis button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.ellipsis img {
  width: 15px;
}
.wrapper-developers-profile {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  /* margin: 30px 30px 30px 230px; */
  padding: 20px 0;
  border-radius: 20px;
}

/* MAIN CONTENT */
