{% extends 'base.html.twig' %}

{% block body %}
    <aside class="sidebar grid">
        <img src="images/universal_company_logo.png" alt="Universal Company Logo">
        <a href="{{ path('dashboard_index') }}" class="Developers">Developers</a>
        <a href="clients.html" class="Clients">Clients</a>
        <a href="{{ path('dashboard_view', {'id': app.user.id}) }}" class="My profile">My profile</a>

        <form action="{{ path('dashboard_logout') }}" class="d-flex justify-content-center" method="POST">
            <button type="submit" class="btn btn-danger">LOGOUT</button>
        </form>
    </aside>
{% endblock %}