<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Universal akademija - Developers profile</title>
    </head>
    <body>
        
        <div class="wrapper-developers-profile">
            <aside class="sidebar grid">
                <img src="images/universal_company_logo.png" alt="Universal Company Logo">
                <a href="users.html" class="users">Users</a>
                <a href="developers.html" class="Developers">Developers</a>
                <a href="clients.html" class="Clients">Clients</a>
                <a href="my_profile.html" class="My profile">My profile</a>
            </aside>
            <div class="content-wrapper-developers-profile grid">
                <div class="profile-info">
                    <div class="personal-info grid">
                        <img src="images/edit-icon.png" alt="Edit icon">
                        <img src="images/profile_picture_2.png" alt="Profile picture">
                        <span>
                            Lorem
                            Ipsum
                        </span>
                        <span><strong>First Name</strong> Lorem</span>
                        <span><strong>Last Name</strong> Ipsum</span>
                        <span><strong>Email:</strong> loremipsum@gmail.com</span>
                        <span><strong>Role:</strong> Developer</span>
                        <span><strong>Bank account:</strong> 5555 5555 5555 5555</span>
                        <span><strong>Status:</strong> Active</span>
                        <button>Insert hours</button>
                        <span><strong>This month: 120:16:45</strong></span>
                        <button id="log-out-btn">Log out</button>
                    </div>
                </div>

                <table class="developers-profile-table">
                    <tr>
                        <th>Client</th>
                        <th >Task</th>
                        <th>Month</th>
                        <th>Time</th>
                        <th>&nbsp</th>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Work on lorem ipsuming the pdf on the html channel</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Very very long lorem ipsum clients task in hand</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="options last-child">
                            <button class="edit-user-btn developers-profile-btn-even"><img src="images/edit-icon.png" alt="Edit icon"></button>
                            <button class="delete-user-btn developers-profile-btn-even"><img src="images/delete-icon.png" alt="Delete icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="ellipsis">
                            <button><img src="icons/ellipsis.svg" alt="ellipsis icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="ellipsis">
                            <button><img src="icons/ellipsis.svg" alt="ellipsis icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="ellipsis">
                            <button><img src="icons/ellipsis.svg" alt="ellipsis icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td >Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="ellipsis">
                            <button><img src="icons/ellipsis.svg" alt="ellipsis icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>17.11.2021.</td>
                        <td>00:45:00</td>
                        <td class="ellipsis">
                            <button><img src="icons/ellipsis.svg" alt="ellipsis icon"></button>
                        </td>
                    </tr>
                </table>

                <div class="edit-user-menu">
                    <div class="edit-user-content">
                        <span>Delete user <img src="images/delete-icon.png" alt="delete icon"></span>
                        <p>Lorem Ipsum</p>
                        <div class="edit-user-add-image">
                            <img src="images/profile_picture_1.png" alt="add image button">
                        </div>
                        <form action="" class="edit-user-form">
                            <input type="text" placeholder="Lorem">
                            <input type="text" placeholder="Ipsum">
                            <input type="email" placeholder="loremipsum@gmail.com">
                            <input type="text" placeholder="069xxxxxxxxx">
                            <input type="text" placeholder="Adolfa Singera 12A">
                            <input type="text" placeholder="Subotica">
                            <input type="text" placeholder="24000">
                            <input type="text" placeholder="Serbia">
                            <input type="password" placeholder="*********">
                            <input type="text" placeholder="Developer">
                            <input type="text" placeholder="Tekuci racun:">
                            <div class="edit-user-btn grid">
                                <button type="button" class="cancel-edit-user-btn">Cancel</button>
                                <button type="button" class="submit-btn edit-user-btn">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </body>
</html>